html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    color: #fff;
    font-family: Monospace, monospace;
    overscroll-behavior: none;
}

#localVideoOverlay {
    position: fixed;
    width: 23vw;
    min-width: 160px;
    bottom: 2vh;
    right: 2vw;
}

#aspectRatioBox {
    padding-top: 75%;
}

#aspectRatioBoxInner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

#localVideo {
    width: 100%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#controlsOverlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-content: end;
    justify-content: flex-end;
    align-items: flex-end;
}

#controlsOverlay > #mic {
    height: calc(15% /0.75);
    width: 15%;
    margin: 5%;
    border-radius: 50%;
    border: thin solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#controlsOverlay > #mic.mic-background-on {
    background-color: darkgreen;
}

#controlsOverlay > #mic.mic-background-off {
    background-color: red;
}

#controlsOverlay > #mic > .mic-logo {
    width: 70%;
}

#controlsOverlay > #mic > #mic-icon-off {
    display: none;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}

#overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /*justify-content space-between;*/
    opacity: 1;
    background-color: #000000;
    color: #ffffff;
}

#overlay > div {
    margin-bottom: 5vh;
}

#ribbon {
    /* positioning */
    position: fixed;
    padding: 5px 45px;
    width: 128px;
    /* top right of the page */
    top: 50px;
    right: -50px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    /* effects with some shadow */
    box-shadow: 0 0 0 3px #7d138b, 0 0 20px -3px rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 0 #ffffff, 0 0 5px rgba(0, 0, 0, 0.3);
    /* looks */
    background-color: #7d138b;
    color: #ffffff;
    font-size: 13px;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bold;
    /* ribbon effects */
    border: 2px dotted #ffffff;
    /* webkit antialias fix */
    -webkit-backface-visibility: hidden;
    letter-spacing: .5px;
}

#logo {
    background: url("/asset/start-page/secret-party-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 40vh;
    /*display: flex;*/
    /*justify-content: center;*/
}

#logo > img {
    max-width: 100%;
}

#logo > div.glow {
    /*position: absolute;*/
}

#textStuff {
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
}

#chrome {
    display: flex;
    align-items: center;
}

#chrome > img {
    width: 100px;
    height: 100px;
    padding: 0 20px 0 20px;
}

#headset {
    display: flex;
    align-items: center;
}

#headset > svg {
    width: 100px;
    height: 100px;
    fill: white;
    padding: 0 20px 0 20px;
}

#headsetContainer > span {
    font-size: 1rem;
}

#keys > p {
    line-height: 0.5rem;
}

#startButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#startButtonContainer > button {
    font-size: 1.5rem;
    background: transparent;
    color: #ffffff;
    outline: 1px solid #ffffff;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
}

#join {
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#join > a {
    font-size: 2.5rem;
    color: #fff;
}

.glow {
    font-size: 2.5rem;
    color: #fff;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}